QWidget {
    background-color: #ECE0C8;
}

QLabel {
    color: #2B1B0E;
    font-family: "Liberation Serif";
    qproperty-alignment: AlignCenter;
}

QPushButton {
    background-color: #b42121;
    font-family: "Liberation Serif";
    color: #ffffff;
    border-radius: 6px;
}